    <div class="container">
        <div class="row mt-5">
            <h2 class="text-center">add products</h2>
             <div class="col-md-6">
             <form action="/admin/add-product" method="post" enctype="multipart/form-data">
                <label for="">name</label>
                <input type="text" name="name" class="form-control">

                <label for="">catogory</label>
                <input type="text" name="cotogory" class="form-control">


                <label for="">description</label>
                <input type="text" name="description" class="form-control">


                <label for="">prize</label>
                <input type="text" name="prize" class="form-control">

                <label for="">image</label>
                <input type="file" name="Image" class="form-control">


                <button type="submit" class="btn btn-success mt-5">submit</button>
             </form>
            </div>
        </div>
    </div>